<div class="row mb-2">
    <h1 class="text-center">list of projects</h1>
    <% @project.each do |project| %>
        <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0 text-success"><%= project.title[0,30] %></h3>
            <p class="card-text mb-auto"><%= project.description[0,30] %>...</p>
            <div class="mb-1 text-muted"><%= project.created_at %></div>
            <%= link_to 'Continue reading', project_path(project) %>
            </div>
          </div>
        </div>
    <% end %>
</div>