<body>
	<div class="container my-4">
	<%= render 'projectlist'%>
	<p>
		<% if can? :create, Project %>
		<button class="btn btn-primary" type="button"><%= link_to "Create new projects", new_project_path, class: "nav_danger_btn" %></button> 
		<% end %>
	</p>
	</div>
</body>
