<body>
<div class="container my-4">
  <%= render 'bugs_list' %>
  <p>
    <% if can? :create, Bug %>
      <button class="btn btn-primary" type="button"><%= link_to "Create new bug", new_bug_path, class: "nav_danger_btn" %></button> 
    <% end %>
  </p>
</div>
</body>
